[submodule "plugins/CoreShop"]
	path = plugins/CoreShop
	url = https://dpfaffenbauer@github.com/dpfaffenbauer/pimcore-coreshop.git
[submodule "plugins/Payunity"]
	path = plugins/Payunity
	url = https://github.com/dpfaffenbauer/pimcore-payunity.git
